.footer {
    background: #D7D1C9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
    padding: 80px;
}
.footer-lists {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0;
}
.footer-list {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #2E2F22;

}