// @import "./fonts.less";
@import "./header.less";
@import "./fonts.less";
@import "../less/topics.less";

body {
    margin: 0;
}
.main-inner {
    width: 1201px;
    margin: auto;
}
.main-page {
    
}
.main-heading {
    font-family: SpectralSC;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
}


