// @import "./fonts.less";
@import "./header.less";
@import "./fonts.less";
@import "../less/topics.less";
@import "../less/resume.less";
@import "../less/portfolio.less";
@import "../less/relation.less";
@import "../less/footer.less";
@import "../less/main-motivation.less";
@import "../less/comments.less";

body {
    margin: 0;
}
.main-page {
    width: 1201px;
    margin: auto;
    margin-bottom: 80px;
}
button:hover {
    cursor: pointer;
}
.hidden {
    display: none;
}
.warning {
    color: red;
    border-color: red;
}
.added {
    color: blue;
}