.small-topics {
    display: flex;
    flex-wrap: wrap;
    
    .small-topic {
        width: 387px;
        margin-right: 20px;
        .text-topic-small {
            font-family: SpectralSC;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 27px;
            color: #2E2F22;
        }
        .paragraph-topic-small {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            color: #2E2F22;
        }
        

    }
    .small-topic:last-child {
        margin-right: 0;
    }
}
.tags-text {
    display: flex;
    justify-content: space-between;
    .tag-text {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 26px;
        color: rgba(46, 47, 34, 0.7);
        margin-top: 0;
       

    }
    .big {
        color: rgba(255, 255, 255, 0.7);
    
    }
}


.big-topics {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    .big-topic {
        width: 590px;
        height: 552px;
        background-image: url("../../assets/big-topic-flowers.png");
        box-sizing: border-box;
        padding-top: 320px;
        padding-left: 80px;
        padding-right: 80px;
        margin-right: 20px;
        .text-topic-big {
            font-family: SpectralSC;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 30px;
            color: #FFFFFF;
            
        }
        .paragraph-topic-big {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 21px;
            line-height: 28px;
            color: #FFFFFF;

        }
    }
    .cook {
        background-image: url("../../assets/big-topic-cake.png");
    }
    .big-topic:last-child {
        margin-right: 0;
    }
}
.section-button {
    border: 1px solid #202117;
    box-sizing: border-box;
    border-radius: 10px;
    width: 224px;
    height: 46px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin: 100px auto;
    display: block;
}